.recetas-julio {
    padding: 1rem;
    border: 5px solid rgb(255, 255, 255);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "caja2 caja3 caja1 caja1"
      "caja2 caja3 caja4 caja5"
      "caja6 caja6 caja4 caja5"
      "caja7 caja7 caja8 caja8"
      ;
    gap: 2rem;
  
    .caja {
      border-radius: 10px;
      display: flex;
      flex-direction: column; /* Para que la descripción esté debajo de la imagen */
      justify-content: center;
      align-items: center;
      overflow: hidden; /* Para evitar que las imágenes se desborden */
      position: relative; /* Para permitir posicionar el span dentro del contenedor */
  
      img {
        width: 100%; /* Para que la imagen ocupe todo el espacio disponible en la caja */
        height: 100%; /* Para que la imagen ocupe todo el espacio disponible en la caja */
        object-fit: cover; /* Para mantener el aspecto de la imagen sin deformarla */
      }
  
      &.caja1 {
        background-color: aquamarine;
      }
  
      &.caja2 {
        background-color: blue;
      }
  
      &.caja3 {
        background-color: blueviolet;
      }
  
      &.caja4 {
        background-color: chocolate;
      }
  
      &.caja5 {
        background-color: darkgreen;
      }
  
      &.caja6 {
        background-color: crimson;
      }
      &.caja7 {
        background-color: white;
      }
      &.caja8 {
        background-color: red;
      }
  
      /* Estilos de la imagen dentro de .recetas-julio */
      .imagen {
        grid-area: imagen;
        background-color: black;
        background-image: url("../camiessen.jpg");
        background-size: cover;
        background-position: center center;
      }
  
      /* Estilos de la descripción */
      span {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        text-align: center;
        font-size: 14px; /* Ajusta el tamaño del texto según tus necesidades */
        padding: 5px 10px;
        width: 100%; /* Para que ocupe todo el ancho del contenedor */
      }
    }
  }
  
  /* Media query para hacer el texto de la descripción responsive */
  @media screen and (max-width: 768px) {
    .recetas-julio {
      .caja span {
        font-size: 12px; /* Ajusta el tamaño del texto para dispositivos móviles */
      }
    }
  
    @media screen and (max-width: 768px) {
      .recetas-julio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
          "caja1 caja2" 
          "caja3 caja4" 
          "caja5 caja6"
          "caja7 caja8";
      }
    }
  
    @media screen and (max-width: 480px) {
      .recetas-julio {
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
  
      .caja {
        background-color: black;
        color: white;
        flex: 1;
      }
  
      .caja4 {
        order: -1;
      }
    }
  }