@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

$fontPlayfair: 'Playfair Display', serif;

$mainColor: #FFCEFE;

%iconosredes {
    width: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: aqua;
    }

}